
# Build results
bin/
obj/


# Rider / VS Code
.idea/
.vscode/


# Visual Studio
.vs/
*.user
*.suo


# Visual Studio cache
*.cache
*.dbmdl


# Logs
logs/


# Coverage reports
coverage/
coverage-report/


# EF Core local database
*.mdf
*.ldf


# Publish output
publish/


# DotNet
artifacts/


# User Secrets
secrets.json

# Uploads
wwwroot/uploads/

# appsettings
# appsettings.Production.json


# NuGet
*.nupkg
packages/


# macOS/Windows system files
.DS_Store
Thumbs.db